<div class="span12 main border-bottom">
  <a href="">
    <img width="180px" height="68px" src="assets/home_images/logo.jpg" style="background :rgb(99, 170, 194);" alt="logo">
  </a>
  <div class="title-1">AIPay C2B Payment Portal</div>
</div>
<div class="content">
  <body>
    <h3>Login</h3>      
    <div class ='container-fluid'>
        <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">    
          <div class="form-group">
              <label class="control-label required">Email</label>
              <input type="email" [class.is-invalid]="loginForm.get('email')!.invalid && loginForm.get('email')!.touched" formControlName="email" class="form-control" placeholder="Enter a valid Email">
              <div *ngIf="loginForm.get('email')!.invalid && loginForm.get('email')!.touched">
                <small class="text-danger" *ngIf="loginForm.get('email')!.errors?.required">Email is required.</small>
              </div>
            </div>    
          <div class="form-group">
            <label class="control-label required">Password</label>
            <input type="password"  formControlName="password" class="form-control" placeholder="Enter Password">
            <div *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.touched">
              <small class="text-danger" *ngIf="loginForm.get('password')!.errors?.required">Password is required.</small>    
            </div>
          </div>
          <button  class="btn btn-lg btn-block" type="submit" >Login</button>
          <div class="forgot">
            <a routerLink="/forgotpassword">Forgot Password?</a>
          </div>
          <div class="footer">
            Don't Have Account ?<a routerLink="/register">Sign Up</a>
          </div>
        </form>
      </div>
  </body>
</div>
