.content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
    z-index:999;
    width:420px;
    height: 70vh;
    text-align:center;
    padding:60px 32px;
    background:url('/assets/background_image.jpg');
  }
body{
  background:url('/assets/background_image.jpg');
}
.control-label.required:after { 
    color: #d00;
    content: "*";
    margin-left: 5px;
  }
.example-card {
  max-width: 500px;
  padding-bottom: 100px;

}
h3{
  font-size: 28px;
  margin-top: -30px;
  text-align: center;
}
input::-webkit-input-placeholder {
  font-size: 13px;
}
.input-group {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
span.input-group-addon i {
  color: #009edf;
  font-size: 17px;
  width: 30px;
}
button{
  border: 1px solid #ccc;
  text-shadow: 0 1px #fff;
  height: 45px;
  margin-top: 40px;
  background-color: #2f91c2;
  color: white;
}
button :hover{
  background-color: #ccc;
}
.select-field{
  height: 35px;
  width: 325px;
}
.b{
  margin-top: 40px;
}