<div mat-dialog-content>
    <p>Enter CVV</p><br>
    
    <!-- <mat-form-field> -->
      <!-- <mat-label>Favorite Animal</mat-label> -->
      <!-- <input matInput>
    </mat-form-field> -->
    <!-- <label class="control-label required">Enter CVV</label> -->
    <input type="tel" placeholder="Enter CVV"><br><br><br>
    <!-- <button mat-button mat-dialog-close class="btn btn-primary" >Proceed to Pay</button> -->
    
  </div>
  <div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button cdkFocusInitial>Ok</button> -->
    <button mat-button mat-dialog-close mat-dialog-close class="btn btn-primary" >Proceed to Pay</button>
  </div>
